* {
    text-align: center;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    /*! From https://projects.verou.me/css3patterns/#bricks */
    background-color: rgb(226, 226, 226);
    background-image: linear-gradient(335deg, rgb(244, 244, 244) 23px, transparent 23px),
    linear-gradient(155deg, rgb(255, 255, 255) 23px, transparent 23px),
    linear-gradient(335deg, rgb(244, 244, 244) 23px, transparent 23px),
    linear-gradient(155deg, rgb(255, 255, 255) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.bold {
    font-weight: 800;
}

.bold:hover {
    animation: 0.8s ease 0s 1 running changeRed;
    animation-fill-mode: forwards;
    cursor: copy;
}

h1 {
    font-size: 4rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 0 5px #82cfff, 0 -5px 5px #ff9bd2;
    user-select: none;
}

h1.active {
    animation: jump 1s linear;
    transform-origin: bottom center;
}

hr {
    margin: 0;
    position: relative;
    bottom: 10px;
    width: 100%;
    border: 3px solid black;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intro {
    position: relative;
    background: rgb(247, 247, 247);
    width: 90%;
    min-height: 170px;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 10px;
}

.image {
    border: 2px solid black;
    border-radius: 10px;
    width: 45%;
    background-size: cover;
    overflow: hidden;
}

.one {
    background-image: url(/ws/images/img1.jpg);
}

.project {
    position: relative;
    background: rgb(247, 247, 247);
    width: 90%;
    min-height: 300px;
    margin: 2%;
    border: 2px solid black;
    border-radius: 10px;
}

h2 {
    font-size: 2.5rem;
    margin: 5px;
    font-family: "Merriweather", serif;
    font-weight: 800;
    text-shadow: 0 0 5px #a5ddff, 0 -5px 5px #ffc0e3;
}

h2:hover {
    animation: 0.2s linear 0s 5 running shake;
}

p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

.link {
    position: absolute;
    bottom: 5px;
    border: none;
    min-width: 40%;
    height: 40px;
    margin: 10px;
}

.link:hover {
    animation: bubble 0.5s ease-out;
    animation-fill-mode: forwards;
}

.right {
    background: #a5ddff;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    right: 5%;
}

.left {
    background: #ffc0e3;
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
    left: 5%;
}

.right:hover {
    background: #a5dcffc6;
}

.left:hover {
    background: #ffc0e3c7;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 5px;
}

.footer {
    border-top: 4px solid rgb(226, 226, 226);
    height: 25px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
}

.placeholder {
    position: relative;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0;
}

#caranim {
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid black;
}

.slideright {
    float: left;
    height: 30px;
    width: 38px;
    animation: 5s ease 0s infinite running slideRight;
}

.slideright:hover {
    cursor: not-allowed;
    animation-play-state: paused;
}

#minionanim {
    image-rendering: pixelated;
    position: absolute;
    left: 5%;
    bottom: 70px;
    width: 32px;
    height: 38px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    animation: 2s linear 0s infinite running minionanimation;
}

/*? Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(226, 226, 226); 
}

::-webkit-scrollbar-thumb {
    background: black; 
}

::-webkit-scrollbar-thumb:hover {
    background: #2b2b2b; 
}

/*! Animations */
/*? Bubble effect for buttons */
@keyframes bubble {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1.1);
    }
}

/*? Slide right for car */
@keyframes slideRight {
    0% {
        margin-left: 0;
      }
    100% { 
        margin-left: calc(100% - 38px); 
    }
}

/*? Shake effect */
@keyframes shake {
    25% {
        transform: rotateZ(2deg);
    }
    50% {
        transform: rotateZ(-2deg);
    }
    75% {
        transform: rotateZ(-2deg);
    }
    100% {
        transform: rotateZ(2deg);
    }
}

/*? Change color to red */
@keyframes changeRed {
    100% {
        color: red;
    }
}

/*? Makes text jump */
/** Made by https://www.florin-pop.com/ */
@keyframes jump {
    10%, 35% {
        transform: scale(1.2, .5) translate(0, 0);
    }
    
    45%, 50% {
        transform: scale(1) translate(0, -30px);
    }
    
    70% {
        transform: scale(1) translate(0, 0);
    }
}

/*? Minion animation */
/** Minions made by retrogamer406 at https://www.spriters-resource.com/genesis_32x_scd/despicableme2bootleg/sheet/61151/?source=genre*/
@keyframes minionanimation {
    0% {
        background: url(/images/minions/look1.png);
    }
    50% {
        background: url(/images/minions/look2.png);
    }
    100% {
        background: url(/images/minions/look3.png);
    }
}


/*! Different screen size */

@media (max-width: 600px ) {
    .section {
        width: 90%;
    }
    
    .placeholder {
        height: 16px;
    }

    .image {
        visibility: collapse;
    }
}

